#rotowany {
    background: url(https://vignette1.wikia.nocookie.net/wiedzmin/images/9/97/Smok_z%C5%82oty.jpg/revision/latest?cb=20101014220647) no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: all 3s;
    
}
#rotowany:hover {
    transform: rotate(1000deg);
}

#odsuwany {
    background-color: red;
    width: 400px;
    height: 400px;
/* te transform musza być połączone żeby działało
    transform: translateX(100px);
    transform: translateY(100px);
*/
    /* (do tego wyżej) transform: translate(100px, 100px);*/
    transition: all 0.5s;
    display: inline-block;
  
}
#odsuwany:hover {
    transform: translate(100px, 100px);
}

#odsuwany2 {
    background-color: yellow;
    width: 400px;
    height: 400px;
    display: inline-block;
}