#rotowany {
    background: url(https://vignette1.wikia.nocookie.net/wiedzmin/images/9/97/Smok_z%C5%82oty.jpg/revision/latest?cb=20101014220647) no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: all 3s;
    
}
#rotowany:hover {
    transform: rotate(1000deg);
}

#odsuwany {
    background-color: red;
    width: 400px;
    height: 400px;
/* te transform musza być połączone żeby działało
    transform: translateX(100px);
    transform: translateY(100px);
*/
    /* (do tego wyżej) transform: translate(100px, 100px);*/
    transition: all 0.5s;
    display: inline-block;
  
}
#odsuwany:hover {
    transform: translate(100px, 100px);
}

#odsuwany2 {
    background-color: yellow;
    width: 400px;
    height: 400px;
    display: inline-block;
}
/*skalowanie*/
#skalowany_outer {
    width: 400px;
    height: 400px;
    overflow: hidden;
}
#skalowany {
    background: url(https://vignette1.wikia.nocookie.net/wiedzmin/images/9/97/Smok_z%C5%82oty.jpg/revision/latest?cb=20101014220647) no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: all 0.5s;
}
#skalowany:hover {
    transform: scale(1.5);
}
/*animacje*/
#animowany {
    width: 400px;
    height: 400px;
    background-color: limegreen;
    animation-name: changeWidth;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes changeWidth {
    0%, 100% {
        width: 1000px
    }
    
    50% {
        width: 400px
    }
}
/*
@keyframes changeWidth {
    from {
        width: 1000px
    }
    
    to {
        width: 400px
    }
}
*/
